@using WebSite.ViewModels
@model CarsListViweModel
@{
    ViewData["Title"] = "Авто";
}
<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>ListCar</title>
    </head>
    <body>

    <h1>Все автомобили</h1>
    <h3>@ViewBag.Tatel </h3>
    <div class="row mt-5 mb2">
    <h3>@Model.currCategory</h3>
        @{
            foreach(Car car in Model.allCars){
                //Добовляю ссылку на обьект страницы кар
                {
                    @Html.Partial("AllCars", car)
                }
            }
        }
    </div>
    </body>
</html>